<h1>Welcome to G-Blocitoff</h1>
<p>G-Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after 7 days.</p>
 <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!